.button{
    background-color: #FFFFFF;
    color: #000000;
    font-size: 27px;
    font-family: "Montserat";
    margin: 0;
    padding: 15px 15px 15px 15px; 
    position: absolute;
    top: 45%;
    left: 42.5%;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

